## Daniel Ramírez Umaña

#### Outputs

In [9]:
print("Hello World")

Hello World

In [10]:
name = "Daniel Ramírez"
print(name)

Daniel Ramírez

#### Tipos de datos

In [17]:
#String
province = "San José"
month = "March"

#integers
day = 18
year = 1994

#float
height = 1.72

#boolean
cold = False
hot = True

#### Print test:

In [18]:
print(province)
print("I was born on", month, day, ",", year)
print("my height:", height)

San José
I was born on March 18 , 1994
my height: 1.72

In [19]:
sum = 17 + 21 + 14
print("Total is", sum)

Total is 52

#### Base is 5
#### Height is 4
#### Area is (base * height) / 2

In [23]:
base = 5
height = 3
area = (base*height)/2
print("The area is", area)
print("the integer part of the area is", int(area))

The area is 7.5
the integer part of the area is 7

#### Conditionals

In [30]:
age1 = 31
age2 = 31
if(age1 > age2):
    print("The older age is the first one", age1)
elif(age1 < age2):
    print("The older age is the second one", age2)
else:
    print("They are both the same age, and their age is", age1)

They are both the same age, and their age is 31

#### Lists

In [32]:
#Array
fruits = ["apple", "lemon", "lime",  "pineapple"]
print(fruits)

['apple', 'lemon', 'lime', 'pineapple']

In [33]:
print(fruits[1])

lemon

In [36]:
for i in fruits:
    print(i)

apple
lemon
lime
pineapple

#### Dictionaries

In [38]:
myFamilyDictionary = [
    {
        "name": "Jafeth",
        "year_of_birth": 1996
    },
    {
        "name": "Daniela",
        "year_of_birth": 1995
    },
    {
        "name": "Daniel",
        "year_of_birth": 1994
    },
    {
        "name": "Marielos",
        "year_of_birth": 1969
    }
]

In [39]:
print(myFamilyDictionary[2])

{'name': 'Daniel', 'year_of_birth': 1994}

In [40]:
print(myFamilyDictionary[2]["name"])

Daniel

In [42]:
print(myFamilyDictionary[2]["name"], myFamilyDictionary[2]["year_of_birth"])

Daniel 1994

In [67]:
translateColor = [
    {
        "SP": "azul",
        "EN": "blue"
    },
    {
        "SP": "amarillo",
        "EN": "yellow"
    },
    {
        "SP": "rojo",
        "EN": "red"
    },
]

In [68]:
for i in range(len(translateColor)):
    print(translateColor[i])

{'SP': 'azul', 'EN': 'blue'}
{'SP': 'amarillo', 'EN': 'yellow'}
{'SP': 'rojo', 'EN': 'red'}

In [62]:
for i in range(len(translateColor)):
    if(translateColor[i]["SP"] == "rojo"):
        print(translateColor[i]["EN"])

red